<div class="container-fluid"><br><br>
  <span class="center w1">Welcome! We're just as excited as you!</span><br><br>
  <div class="center w2">
    We'll send you and email when AAE is active.<br>
    Enter the code 'FirstUserzFree723' for a free membership when you sign up!<br>
    Can't wait to get you where you want to go!
  </div>
</div>
