<div id="fullpage">
  <div class="section">
    <div class="center">

      <span class="w1">About Me</span>
      <br><br>
      <div class="w3">
        Hi! My name is Ryan Zolper.<br><br><br>
        I am a full-stack Ruby on Rails developer.
        I live in St. Pete, Fl.<br>
        I left Bucknell University in December 2014 because I really didn't know what I wanted to do with my life. <br>
        I ended up learning to code at The Iron Yard Academy, and I've never made a better decision.<br><br>
        My favorite part of programming is the huge wealth of information available online;<br>
        If a client wants something done that I don't know how to do, I can learn to do it!
      </div>
    </div>
  </div>

  <div class="section">
    <div class="center">

      <span class="w1">Projects</span>
      <br><br>
      <div class="w3">
        As a very recent graduate of The Iron Yard, and a newcomer to the art of coding,<br>
        I have one app that I am really proud of, and that is nearly ready for some real customers.<br><br>
        <span class="w2">Arrange An Exchange</span><br>
        AAE offers the opportunity to connect to another family anywhere in the world, and arrange a foreign exchange directly!<br>
        We provide a unique chance to cut out the "middle man" in foreign exchange, and save $5k+ from their grubby little hands.<br>
        For now it's still in development, but it will be fully functional soon!<br><br>
        <a href="https://quiet-ocean-9263.herokuapp.com" class="btn btn-primary btn-lg">Try demo!</a>&nbsp&nbsp<a href="https://github.com/RyanZolper/ArrangeAnExchange" class="btn btn-primary btn-lg">View source!</a>
        <br><br>
        <span class="w2">Others</span><br>
          AAE is the culmination of my skills from my 12 weeks at TIY.<br>
          I have some other apps that I worked on while I was learning at my <a href="https://github.com/RyanZolper" class="w3">GitHub</a>.<br>
          It's pretty cool to look through my apps by their dates and see my skills progress.
        </div>
      </div>
    </div>
  <div class="section">
    <div class="center">
      <span class="w2">John Ryan Zolper</span><br><br>
      <span class="w3">Skills</span><br>
      <div class="w4">
        Ruby on Rails, JS, JQUERY, HTML, CSS, SASS, coffeescript<br>
        Experience with:<br>
        PostGres, AWS, Heroku, Git, Github, AWS
      </div>
    </div><br>
    <div class="w3 center">Experience</div>
    <div class="row w4 res1">
      <div class="col-md-6">
        Raymond James Financial Inc.<br>
        St Petersburg, FL 33704
      </div>
      <div class="col-md-6" style="text-align:right;">
        Senior Intern -- Compliance Department<br>
        5/2014-8/2014
      </div>
    </div>
    <div class="w4 center res2 row">
      Delegated data input and clerical tasks<br>
      Expedited data input by writing Excel Macros
    </div>
    <div class="row w4 res1">
      <div class="col-md-6">
        Guardian Ad Litem Foundation<br>
        Clearwater, FL 14250
      </div>
      <div class="col-md-6" style="text-align:right;">
        Intern – Marketing Department<br>
        3/2014-8/2014
      </div>
    </div>
    <div class="w4 res2 row center">
      Co-leader of Social Media Team for Pinellas and Pasco county<br>
      Co-managed Facebook/Twitter accounts<br>
      Doubled Facebook Page Likes (600 to 1200+)<br>
      Increased website traffic 40%+ during employment<br>
    </div>
    <div class="row w4 res1">
      <div class="col-md-6">
        Raymond James Financial Inc.<br>
        St Petersburg, FL 33704
      </div>
      <div class="col-md-6" style="text-align:right;">
        Junior Intern -- Compliance Department<br>
        7/2013-12/2013
      </div>
    </div>
    <div class="w4 center res2 row">
      Responsible for updating financial advisor compliance records to meet regulatory requirements<br>
      Streamlined data input process;<br>
      improved productivity by 500% by automating data input process with Excel Macros
    </div>



    </div>
  </div>





  </div>

</div>
